
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  font-family: "Recursive", sans-serif;
  position: relative;
}
::-webkit-scrollbar{
  width: 0px;
}